# Core functionality - changes here should be rare!
/src/app.py                   @SHUBHAMKURUP
/src/backend/database.py      @SHUBHAMKURUP
/src/backend/routers/auth.py  @SHUBHAMKURUP

# The frontend will need refactored soon to be more object oriented.
/src/static/   @SHUBHAMKURUP
